.authentication {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.errorWindow {
    background-color: red;
    color: white;
    margin-bottom: 10px;
    padding: 4px;
}

.content {
    border: solid 1px lightgreen;
    padding: 4px;
    margin-left: 1px;
    text-align: center;
    height: 15vh;
    width: 24vh;
}

.login {
    color: darkred;
    margin-bottom: 5px;
}
.loginTextField {
    color:grey;
}

.password {
    color: darkred;
}
.passwordTextField {
    color: grey;
    margin-top: 4px;
}

.buttonLogin {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}