/*style for Login*/
.authentication {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.errorWindow {
    background-color: red;
    color: white;
    margin-bottom: 10px;
    padding: 4px;
}

/*style for LoginForm*/
.content {
    border: solid 1px lightgreen;
    padding: 4px;
    margin-left: 1px;
}

.login {
    color: darkred;
    margin-bottom: 6px;
}
.loginTextField {
    color:grey;
}

.password {
    color: darkred;
}
.passwordTextField {
    color: grey;
    margin-top: 4px;
}

.buttonLogin {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/*style for LogoutForm*/
.buttonLogout {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}