.headerCom {
    border: thick double #32a1ce;
    width: 60vh;
}
.comment {
    margin: 4px;
}

.headerAuthor {
    display: flex;
    justify-content: space-between;
}

.userDetails {
    display: flex;
}
.userName {
    color: red;
    margin-right: 4px;
}
.userDate {
    color: green;
}

.commentText {
    display: flex;
    justify-content: space-between;
}
.contentCom {
    color: red;
}
.buttonStyle {
    background-color: transparent;
    border: none;
    margin-right: 2px;
    margin-top: 2px;
}
.buttonStyle:hover {
    background-color: lightgray;
    color: white;
}

.buttonsCom {
    color: darkcyan;
}
.buttonLike {
    color:grey;
}
.voteCount {
    margin-left: 4px;
}

.buttonDis {
    color:grey;
}

.rightAlign {
    display: flex;
    align-items: center;
}
.buttonDelete {
    color:red;
    background-color: transparent;
    border: none;
    text-align: right;
    margin-right: 2px;
    margin-top: 2px;
}
.buttonDelete:hover {
    background-color: lightgrey;
}

.commentInput {
    color: green;
}
.buttonSave {
    color: grey;
}
.buttonCancel {
    color: grey;
}

.editCommentSection {
    margin-top: 10px;
}

.editCommentInput {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
}

.saveCommentButton {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
.buttonEdit {
    color: grey;
}
.cancelCommentButton {
    color: green;
}
